<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" class="brand">Microblog</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="/">首页</a></li>
						<li><a href="/login">登入</a></li>
						<li><a href="/reg">注册</a></li>
						<li><a href="/logout">登出</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="container" class="container">
		<div class="alert alert-success">
			
		</div>
		<div class="alert alert-error">
			
		</div>
		<hr/>
	</div>
	<footer>
		<div class="container">
			<p>Cynthia<em>2016</em></p>
		</div>
	</footer>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>